body {
    background-color: white;
    color: black;
    font-family: 'Madimi One', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

#banner-carousel {
    text-align: center;
    overflow: hidden;
}

#banner-carousel img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Madimi One', sans-serif;
    margin: 0;
    padding: 0;
}

section, footer {
    margin: 10px;
}

#apresentacao, #habilidades, #contato {
    text-align: center;
}

#habilidades-container {
    display: flex;
    flex-wrap: wrap;
}

.habilidade-card {
    background-color: #e2e2e2;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

#formulario {
    max-width: 600px;
    margin: 0 auto;
}

#formulario label {
    text-align: left;
    margin-bottom: 5px;
}

#formulario input,
#formulario textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#formulario button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    #habilidades-container {
        flex-direction: row;
    }

    .habilidade-card {
        width: calc(33.33% - 10px);
    }

    #formulario {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #formulario label {
        flex: 0 0 30%;
        text-align: right;
    }

    #formulario input,
    #formulario textarea {
        flex: 0 0 65%;
        margin-bottom: 0;
    }

    #formulario button {
        flex: 0 0 100%;
        margin-bottom: 0;
    }
}

footer {
    text-align: center;
    background-color:white;
    color: black;
}

#apresentacao-container p:last-child,
#formulario p:last-child {
    margin-bottom: 20px;
}